body {
	background-color: #22272e;
	color: #D3D3D3;
	max-width: 100%;

}

.mainbody {
	padding-left: 35%;
	padding-right: 35%;
	padding-top: 0px;
	padding-bottom: 0px;
	max-width: 100%;
}

img {
	max-width: 100%;
}



/* Link Coloring */

a:link {
	color: #f0fcfc;
}

a:visited {
	color: #C3BBBA;
}

a:hover {
	color: #3CFFE9;
}

a:active {
	color: #1DAB9B;
}

.reflinks {
	color: lightgray;
}



/* Formatting */

p {
	font-size: 20px;
	text-align: left;
	max-width: 100%;
}

h1 {
	font-size: 35px;
	text-align: left;
	color: #AEFFFA;
}

h2 {
	font-size: 30px;
	text-align: left;
}

h3 {
	font-size: 25px;
	text-align: left;
}

h4 {
	font-size: 15px;
	text-align: left;
}

footer {
	text-align: left;
	padding-left: 650px;
	padding-right: 650px;
	padding-top: 25px;
	padding-bottom: 0px;
	max-width: 100%;
}