body {
	background-color: #22272e;
	color: #D3D3D3;
	max-width: 100%;
}

.header {
	padding-top: 0.05vw;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-bottom: 2.2vw;
  	text-align: center;
  	background: #1abc9c;
  	color: white;
  	font-size: 4vw;
  	max-height: 30vh;
}

.mainbody {
	padding-left: 13vw;
	padding-right: 13vw;
	padding-top: 2vh;
	padding-bottom: 1vh;
	max-width: 100%;
	font-size: 2.7vh;
}

.responsive {
	width: 100%;
	height: auto;
}

.footer {
	padding-left: 13vw;
	padding-right: 13vw;
	padding-top: 2vh;
	padding-bottom: 1vh;
	max-width: 100%;
	font-size: 2vh;
}


img {
	max-width: 100%;
}



/* Link Coloring */

a:link {
	color: #f0fcfc;
}

a:visited {
	color: #C3BBBA;
}

a:hover {
	color: #3CFFE9;
}

a:active {
	color: #1DAB9B;
}

.reflinks {
	color: lightgray;
}




