body {
	background-color: #232527;
	color: white;
}

/* Link Coloring */

a:link {
	color: #1ad8ed;
}

a:visited {
	color: #C3BBBA;
}

a:hover {
	color: #3CFFE9;
}

a:active {
	color: #1DAB9B;
}

.reflinks {
	color: lightgray;
}

/* Font Sizing */

p {
	font-size: 20;
}

h3 {
	font-size: 25;
}

h2 {
	font-size: 30;
}

h1 {
	font-size: 34;
}